body{
	background-color: #21688c;

}
.container{
	width: 100%;
	background-color: #21688c;



}
.fixed{
	position: fixed;
	top:0;
	z-index: 1;
	width: 100%;

}
.jumbotron{
	background-image: url("../images/nino_fono.jpg");
	background-size: cover;
	color: white;
	border-radius: 5px;
	margin-top: 100px;

}


.img-fluid{
	width: 15%;
	float: left;
	margin-right: 50px;
	margin-left: 300px;
	padding: 60px 0px 10px 0px;
}

.fundaci칩n{
	padding-top: 90px;

}
.fundaci칩n h1{
	color: white;
	
}

.menu{
	padding: 20px 60px 10px 60px;
	width: 100%;
	background-color: #21688c;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-link{
    color: #f2f4f7;
    text-decoration: none;
}
.nav-link:hover{
	color: #495057;
	background-color: white;
}

.menu-link{
	color: white;
}

.menu-link:hover{
	color: #495057;
	text-decoration: none;
}


.cuerpo{
	/*1200px*/
	background-color: #f7f4e8 ;
	border-radius: 5px;
	padding: 70px 15px 15px 15px;	
	margin-bottom: 30px;

}

.card-title{
	text-align: center;
	padding-top: 20px;
}

.donar{
	width: 200px;
}

.bg-primary {
    background-color: #21688c !important;
}

.deposite{
	width: 150px;
	border-radius: 3px;
	margin-left: 30%;
	margin-top: 20px;
	
}
.boton_link{
	color: #21688c;
	
}

.fondo-footer{
	background-color: #f7f4e8;
}

.container-footer{
	width: 50%;

}

.contacto{
	color: white;
	text-align: center;
}

.btn-primary{
	background-color: #21688c;
	border-color: #21688c;
}
 .mailto{
 	color:black;
 	text-decoration: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapa{
	width: 50%;
	margin-left: 25%;
}

.ganadores{
	padding-bottom: 30px;
}

/*p치gina NOSOTROS*/

.imagen_nosotros{
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;
}

.texto_nosotros{
	width: 50%;
	margin-left: 25%;
	
}

/*p치gina NOTICIAS*/
.card-noticias{
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top:30px;
}

.cuerpo3{
	margin-top: 100px;
}
